#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
        log 127.0.0.1   local0
        log 127.0.0.1   local1 notice
        #log loghost    local0 info

        maxconn 4096

        #chroot /usr/share/haproxy
        chroot      /var/lib/haproxy
        pidfile     /var/run/haproxy.pid

        user haproxy
        group haproxy

        daemon

        #debug
        #quiet

        # turn on stats unix socket
        stats socket /var/lib/haproxy/stats

#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
        log     global
        mode    http
        option  httplog
        option  dontlognull
        option  http-server-close
        option forwardfor       except 127.0.0.0/8
        retries 3
        option redispatch
        timeout http-request    10s
        timeout queue           1m
        timeout connect         10s
        timeout client          1m
        timeout server          1m
        timeout http-keep-alive 10s
        timeout check           10s
        maxconn                 3000
        #maxconn 3000
        #contimeout      5000
        #clitimeout      50000
        #srvtimeout      50000

#---------------------------------------------------------------------
#HAProxy Monitoring Config
#---------------------------------------------------------------------
#Haproxy Monitoring run on port 8080
listen haproxy-stat *:8080
        mode http
        option forwardfor
        option httpclose
        stats enable
        stats show-legends
        stats refresh 15s

        #URL for HAProxy monitoring
        stats uri /stats
        stats realm Haproxy\ Statistics

        #User and Password for login to the monitoring dashboard
        stats auth {{ USER_HAPROXY }}:{{ PASS_FOR_HAPROXY }}
        stats admin if TRUE

        #This is optionally for monitoring backend
        default_backend hl-zabbix

#---------------------------------------------------------------------
# FrontEnd Configuration
#---------------------------------------------------------------------
frontend main
        bind *:80
        option http-server-close
        option forwardfor
        default_backend hl-zabbix

#---------------------------------------------------------------------
# BackEnd roundrobin as balance algorithm
#---------------------------------------------------------------------
backend hl-zabbix
        mode http
        balance roundrobin
        option httpclose
        option forwardfor
        cookie SERVERNAME insert indirect nocache
        server {{ HOST_NAME_WEB01 }}.{{ FAKE_DOMAIN }} {{ HOST_IP_WEB01 }}:8080 cookie s1 check
        server {{ HOST_NAME_WEB02 }}.{{ FAKE_DOMAIN }} {{ HOST_IP_WEB02 }}:8080 cookie s2 check
