# Ansible managed file: please do not touch
#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
    log         127.0.0.1 local2     #Log configuration

    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy             #Haproxy running under user and group "haproxy"
    group       haproxy
    daemon

    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats

#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000

#---------------------------------------------------------------------
#HAProxy Monitoring Config
#---------------------------------------------------------------------
#listen haproxy3-monitoring *:8080                #Haproxy Monitoring run on port 8080
#    mode http
#    option forwardfor
#    option httpclose
#    stats enable
#    stats show-legends
#    stats refresh 5s
#    stats uri /stats                             #URL for HAProxy monitoring
#    stats realm Haproxy\ Statistics
#    stats auth howtoforge:howtoforge            #User and Password for login to the monitoring dashboard
#    stats admin if TRUE
#    default_backend app-main                    #This is optionally for monitoring backend

listen stats
    mode http
    bind *:7000
    stats enable
    stats uri /

#---------------------------------------------------------------------
# FrontEnd Configuration
#---------------------------------------------------------------------
#frontend main
#    bind *:80
#    option http-server-close
#    option forwardfor
#    default_backend app-main

#---------------------------------------------------------------------
# BackEnd roundrobin as balance algorithm
#---------------------------------------------------------------------
#backend app-main
#    balance roundrobin                                     #Balance algorithm
#    option httpchk HEAD / HTTP/1.1\r\nHost:\ localhost    #Check the server application is up and healty - 200 status code
#    server nginx01 192.168.11.100:80 check
#    server nginx02 10.128.0.32:80 check

listen postgres
        mode tcp
        bind *:5000
        option httpchk
        http-check expect status 200
        default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
        server postgresql_pg01_5432 {{ HOST_NAME_PG01 }}.{{ FAKE_DOMAIN }}:5432 maxconn 100 check port 8008
        server postgresql_pg02_5432 {{ HOST_NAME_PG02 }}.{{ FAKE_DOMAIN }}:5432 maxconn 100 check port 8008
        server postgresql_pg03_5432 {{ HOST_NAME_PG03 }}.{{ FAKE_DOMAIN }}:5432 maxconn 100 check port 8008