global_defs {
# Keepalived process identifier
  lvs_id haproxy_DH_passive
}
# Script used to check if HAProxy is running
vrrp_script check_haproxy {
  script "killall -0 haproxy"
  interval 2
  weight 2
}
# Virtual interface
# The priority specifies the order in which the assigned interface to take over in a failover
vrrp_instance VI_01 {
  state SLAVE
  interface {{ IP_BALANCER_NIC }}
  virtual_router_id 51
  priority 100
# The virtual ip address shared between the two loadbalancers
  virtual_ipaddress {
    {{ HOST_IP_BALANCER_VIP }}
  }
  track_script {
    check_haproxy
  }
  authentication {
    auth_type PASS
    auth_pass {{ PASS_FOR_KEEPALIVED }}
  }
}
