[Unit]
Description=Zabbix active agent mamonsu2
After=syslog.target network.target
After=network-online.target
Wants=network-online.target

[Service]
SyslogIdentifier=mamonsu2
Type=simple
PIDFile=/var/run/mamonsu/mamonsu.pid
EnvironmentFile=/etc/sysconfig/mamonsu2
ExecStartPre=/bin/sh -c 'rm -rf $PIDDIR && mkdir $PIDDIR && touch $PIDFILE && chown -R mamonsu. $PIDDIR'
ExecStart=/usr/bin/python /usr/bin/mamonsu -d -a /etc/mamonsu/plugins -c $CONFIG -p $PIDFILE
#ExecStopPost=/bin/rm -f $PIDFILE
#User=mamonsu
#Group=mamonsu
KillMode=process
RestartSec=10s

[Install]
WantedBy=multi-user.target
